html {
    font: 15pt Arial;
}
body {
    background-color: #CB9897;
    background-size: cover;
}

div::before {
    content: " Lista de Exercícios 2 - Linguagem de Programação ";
    font: 10pt Arial;
    font-weight: bold;
    color: #E5C7C5;
    background-color: #AF7675;
    padding: 10px;
    display: block;
    position: relative;
    top: -15px;
    left: -15px;
    width: 560px;
}


div {
    background-color: #EFD9DB;
    margin: 100px auto 100px auto;
    padding: 15px;
    width: 550px;
    min-height:300px;
    border: 0.1rem solid #273747;
}

h3 {
    padding: 0;
    margin-bottom: 5px;
}
label {
    display: flex;
    justify-content: center;
    text-align: center;

}

button {
    margin-left: 220px;
    margin-top: 15px;
}

input{
    margin: 15px 0 15px 200px;

}

a{
    color: #273747;
    text-decoration: none;
    font-weight: bold;
    font: 11pt Helvetica;
}

a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid cadetblue;
}

span.foco {
    font-weight: bold;
    color: #7e050c;
}